@font-face {
    font-family: 'CMU-R';
    src: url('../../fonts/CMU/cmunrm.ttf');
}

@font-face {
    font-family: 'CMU-I';
    src: url('../../fonts/CMU/cmunti.ttf');
}

@font-face {
    font-family: 'CMU-B';
    src: url('../../fonts/CMU/cmunbx.ttf');
}

@font-face {
    font-family: 'CMU-BI';
    src: url('../../fonts/CMU/cmunbi.ttf');
}

.wysiwyg__block {
    height: 230px;
    width: calc(100% - 14px);
    display: flex;
    flex-direction: column;
    border: 1px #f1f1f1 solid;
    border-radius: 8px;
}

.wysiwyg__toolbar {
    background-color: rgb(252 252 252);
    padding: 0 14px;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px #f1f1f1 solid;
}

.wysiwyg__toolbar_buttons {
    display: flex;
}

.wysiwyg__toolbar_buttons-section {
    display: flex;
    margin-right: 10px;
    border-right: 1px #f1f1f1 solid;
}

.wysiwyg__toolbar .icon {
    background: #f8f8f8;
    cursor: pointer;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px #f1f1f1 solid;
}

.wysiwyg__toolbar .icon:hover {
    opacity: 0.6;
}

.wysiwyg__toolbar .icon:active {
    opacity: 0.4;
}

.wysiwyg__content_block {
    height: 150px;
    max-height: 180px;
    overflow-y: scroll;
    padding: 14px;
    font-family: "CMU-R";
    font-size: 20px;
}

.wysiwyg__content_block i {
    font-family: "CMU-I";
}

.wysiwyg__content_block b {
    font-family: "CMU-B";
}

.wysiwyg__content_block b i, .wysiwyg__content_block i b {
    font-family: "CMU-BI";
}

.fa-bold:before,
.fa-italic:before,
.fa-underline:before,
.fa-strikethrough:before,
.fa-link:before,
.fa-list-ul:before,
.fa-list-ol:before,
.fa-align-left:before,
.fa-align-right:before,
.fa-align-center:before,
.fa-align-justify:before,
.fa-align-justify:before {
    opacity: 0.6;
}
